<!DOCTYPE html>
<html style="margin: 0; min-height: 100%; width: 100%;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dev's Round Table</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="~/Content/tile.css" rel="stylesheet">
    <link href="~/Content/sidebars.css" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jquery.share.css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/jqcloud.min.css" rel="stylesheet" />
</head>
<body style="min-height: 100%;">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Circular Logic", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Blog", "BlogHomePage", "BlogPost")</li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin <b class="caret"></b></a>
                        <ul class="dropdown-menu" id="menu1">
                            <li>
                                <a href="#">Blog <i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
                                <ul class="dropdown-menu sub-menu">
                                    <li>@Html.ActionLink("Create", "CreateBlogPost", "BlogPost")</li>
                                    <li>@Html.ActionLink("History", "History", "Admin")</li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Static Page<i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
                                <ul class="dropdown-menu sub-menu">
                                    <li>@Html.ActionLink("Add", "AddStaticPage", "StaticPage")</li>
                                    <li>@Html.ActionLink("Manage", "Index", "StaticPage")</li>
                                </ul>
                            </li>

                            <li class="divider"></li>
                            <li><a href="#" id="loadCatModal">Add Category</a></li>
                            <li>@Html.ActionLink("Admin Queue", "Index", "Admin")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
<div id="wrapper">
    <!-- Left Sidebar -->
    <div id="sidebar-wrapper-left">
        <div id="SocialShare" lass="share-affix" style="left: 0; right: auto; top: 65%">
        </div>
    </div>

    <!-- Right Sidebar -->
    <div id="sidebar-wrapper-right">
        <div id="tags"> </div>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid xyz">
            @RenderBody()
            <hr/>
            <footer>
                <p>@DateTime.Now.ToShortDateString() - Circular Logic &copy;</p>
            </footer>
        </div>
    </div>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/app/jquery.share.js"></script>
    <script src="~/Scripts/app/sidebars.js"></script>
    <script type="text/javascript">
        $("img").error(function () {
            $(this).hide();
        });
        $('#SocialShare')
            .share({
                networks: ['twitter', 'facebook', 'googleplus'],
                orientation: 'vertical',
                theme: 'square',
                urlToShare: '@Request.Url.AbsoluteUri',
                affix: 'left center'
            });
    </script>
    <script src="~/Scripts/app/jqcloud.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $.getJSON('@Url.Action("GetTagCloudTags", "BlogPost")', function (data) {
                $("#tags").jQCloud(data, { width: 500, height: 350 });
            });
        });
    </script>
</body>
</html>