<!DOCTYPE html>
<html style="margin: 0; min-height: 100%; width: 100%;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dev's Round Table</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="~/Content/tile.css" rel="stylesheet">
    <link href="~/Content/sidebars.css" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jquery.share.css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/jqcloud.min.css" rel="stylesheet" />
</head>
<body style="min-height: 100%;" id="myPage" data-spy="scroll" data-target=".navbar">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Circular Logic", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    <li>@Html.ActionLink("Blog", "BlogHomePage", "BlogPost")</li>
                    @if (User.IsInRole("Admin") || User.IsInRole("Contributor"))
                    {
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin <b class="caret"></b></a>
                            <ul class="dropdown-menu" id="menu1">
                                <li>
                                    <a href="#">Blog <i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
                                    <ul class="dropdown-menu sub-menu">
                                        <li>@Html.ActionLink("Create", "CreateBlogPost", "BlogPost")</li>
                                        <li>@Html.ActionLink("History", "ContributorHistory", "Admin")</li>
                                    </ul>
                                </li>
                                @if (User.IsInRole("Admin"))
                                {
                                    <li>
                                        <a href="#">Static Page<i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
                                        <ul class="dropdown-menu sub-menu">
                                            <li>@Html.ActionLink("Add", "AddStaticPage", "StaticPage")</li>
                                            <li>@Html.ActionLink("Manage", "Index", "StaticPage")</li>
                                        </ul>
                                    </li>
                                }
                                <li class="divider"></li>
                                <li><a href="#" id="loadCatModal">Add Category</a></li>
                                <li>@Html.ActionLink("Admin Queue", "Index", "Admin")</li>
                            </ul>
                        </li>
                    }
                    @{Html.RenderAction("MenuDropDown", "StaticPage");}
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="wrapper">
        <!-- Left Sidebar -->
        <div id="sidebar-wrapper-left">
            <div id="SocialShare" lass="share-affix" style="left: 0; right: auto; top: 65%">
            </div>
        </div>

        <!-- Right Sidebar -->
        <div id="sidebar-wrapper-right">
            <div id="tags"> </div>
            <div class="fb-page" data-href="https://www.facebook.com/circlog/" data-width="250" data-small-header="false"
                 data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" style="margin-left: 75px; margin-top: 35px;">
                <div class="fb-xfbml-parse-ignore">
                    <blockquote cite="https://www.facebook.com/circlog/"><a href="https://www.facebook.com/circlog/">Circular Logic</a></blockquote>
                </div></div>
            <div style="margin-left: 75px; margin-top: 35px; margin-bottom: -15px;">
                <a href="https://twitter.com/circularlogic" class="twitter-follow-button" data-show-count="false" data-size="large">"Follow @("@")username"</a>
            </div>
            <div style="margin: 50px; width: 300px">
                <h2 style="text-align: center;">About Our Blog</h2>
                <p style="font-size: 10px;">
                    The Dev’s Round Table is a blog managed by our in house development team.
                    We utilize this blog to share our team’s view on core programming principles with the world.
                    Posts touch on a wide range of topics from low level topics such as assembly languages to high
                    level concepts like user experience. Our hope is that this blog can provide a window for our
                    clients to observe our development strategies and reference for other development teams to get
                    insight into our team’s thought process. The blog has also proven to be a useful training tool
                    for new team members of all skill levels, as it helps bring them up to speed with the types of
                    concepts they will see implemented on projects and insight into the core value of our development team.
                </p>
            </div>
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid xyz">
                @RenderBody()
            </div>
        </div>

        <hr />
        <footer class="container-fluid text-center">
            <a href="#myPage" title="To Top">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
            <br />
            <img src="~/Content/Logos/CL_100x100.png" />
            <br />
            <p>@DateTime.Now.ToShortDateString()</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/app/snarl.min.js")
    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Scripts/app/AngularLib/angular.js"></script>
    <script src="~/Scripts/app/AngularLib/angular-route.min.js"></script>
    <script src="~/Scripts/app/AngularLib/dirPagination.js"></script>
    <script src="~/Scripts/app/jquery.share.js"></script>
<script src="~/Scripts/app/sidebars.js"></script>

    <script type="text/javascript">
        $("img").error(function () {
            $(this).hide();
        });
        $('#SocialShare')
            .share({
                networks: ['twitter', 'facebook', 'googleplus'],
                orientation: 'vertical',
                theme: 'square',
                urlToShare: '@Request.Url.AbsoluteUri',
                affix: 'left center'
            });
    </script>

    <script src="~/Scripts/app/jqcloud.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $.getJSON('@Url.Action("GetTagCloudTags", "BlogPost")', function (data) {
                $("#tags").jQCloud(data, { width: 400, height: 250 });
            });
            $(document).on("click", ".tagLink", function (event) {
                var tag = $(this);
                var txt = tag[0].innerHTML;
                $('#blgSearch').val(txt);
                $('#blgSearch').trigger('input');
                var url = '@Url.Action("BlogHomePage","BlogPost")';
                //window.location.href = url + "?tagId=" + tag.attr("myId");
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            // Add smooth scrolling to all links in navbar + footer link
            $("footer a[href='#myPage']").on('click', function (event) {

                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 900, function () {

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            });
        })
    </script>
    <div id="fb-root"></div>
    <script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
    </script>
<script>
    $(document).ready(function(d, s, id) {
        var js,
            fjs = d.getElementsByTagName(s)[0],
            p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p +
                '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'twitter-wjs'));
</script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("img").error(function () {
                $(this).hide();
            });
            jQuery.ajaxSetup({ async: false });
            $('#loadCatModal').click(function () {
                $('#addCatModalHolder').load('/Admin/AddCategory');
                @*@{Html.RenderAction("AddCategory", "Home");}*@
                $("#myModal").modal();

            });

        });
    </script>
</body>
</html>