@model IEnumerable<CircularLogic.Models.StaticPage>

@{
    ViewBag.Title = "Index";
}

<h2>Manage Static Pages</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HtmlContent)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HtmlContent)
            </td>
            <td>
                @*<a href="@Url.Action("UpdateStaticPage", new {id = item.StaticID})">
                        <i class="glyphicon glyphicon-edit"></i>
                        <span style="font-size:2em" class="sr-only">Edit</span>
                    </a>
                    <a href="@Url.Action("DeleteStaticPage", new {id = item.StaticID})">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span style="font-size:2em" class="sr-only">Delete</span>
                    </a>
                    <a href="@Url.Action("ViewStaticPage", new {id = item.StaticID})">
                        <i class="glyphicon glyphicon-eye-open"></i>
                        <span style="font-size:2em" class="sr-only">View</span>
                    </a>*@
                @Html.ActionLink("Edit", "UpdateStaticPage", new { id = item.StaticID }) |
                @Html.ActionLink("View", "ViewStaticPage", new { id = item.StaticID }) |
                @Html.ActionLink("Delete", "DeleteStaticPage", new { id = item.StaticID })
            </td>
        </tr>
    }
</table>