@model IEnumerable<CircularLogic.Models.StaticPage>

@{
    ViewBag.Title = "Manage Static Pages";
}

<div class="container">
    <h2>Manage Static Pages</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.HtmlContent)
                    </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    @*<td>
                            @Html.Raw(item.HtmlContent)
                        </td>*@
                    <td>
                        <a title="Update" class="btn btn-success" href="@Url.Action("UpdateStaticPage", new {id = item.StaticID})">
                            <i class="glyphicon glyphicon-edit"></i>
                            <span style="font-size:2em" class="sr-only">Edit</span>
                        </a>
                        <a title="Delete" class="btn btn-danger" href="@Url.Action("DeleteStaticPage", new {id = item.StaticID})">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span style="font-size:2em" class="sr-only">Delete</span>
                        </a>
                        <a title="View" class="btn btn-primary" href="@Url.Action("ViewStaticPage", new {id = item.StaticID})">
                            <i class="glyphicon glyphicon-eye-open"></i>
                            <span style="font-size:2em" class="sr-only">View</span>
                        </a>
                        @*@Html.ActionLink("Edit", "UpdateStaticPage", new { id = item.StaticID }) |
                            @Html.ActionLink("View", "ViewStaticPage", new { id = item.StaticID }) |
                            @Html.ActionLink("Delete", "DeleteStaticPage", new { id = item.StaticID })*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>