@model CircularLogic.UI.Models.BlogPostViewModel
@{
    ViewBag.Title = "BlogPostDetail";
}
<div class="row">
    <div class="col-md-6 offest3">
        <div class="col-md-12 details">
            <h2>@Model.BlogPost.Title</h2>
            <h3>@Model.User.FirstName @Model.User.LastName</h3>
            <h4>@Model.BlogPost.CreationTime.Date.ToShortDateString()</h4>
            @if (!(Model.BlogPost.Image.ImageData == null))
            {
                <div class="postHeader image">
                    <img src="@Model.BlogPost.Image.ImageData" alt="@Model.BlogPost.Image.Name" />
                </div>
            }

            <div class="postContent">
                @Html.Raw(Model.BlogPost.HtmlContent)
            </div>

            <div class="postTags">
                @foreach (string tag in Model.BlogPost.Tags.Select(r => r.Name))
            {
                    <span>@tag </span>
                }
            </div>
            <h5>@Model.BlogPost.Category.Name</h5>
        </div>
    </div>
</div>