@model CircularLogic.UI.Models.BlogPostViewModel

@{
    ViewBag.Title = "BlogPostDetail";
}

<h2>Blog Post Details</h2>

<th>
    @Html.DisplayFor(model => model.BlogPost.Title)
</th>
<th>
    @Html.DisplayFor(model => model.BlogPost.HtmlContent)
</th>
<th>
    @Html.DisplayFor(model => model.BlogPost.HtmlContent)
</th>
<th>
    @Html.DisplayFor(model => model.BlogPost.Tags)
</th>
<th>
    @Html.DisplayFor(model => model.BlogPost.Image.ImageData)
</th>
<th>
    @Html.DisplayFor(model => model.BlogPost.Category)
</th>

<form action="/Home/CreateBlogPost/@Model.BlogPost.BlogPostID" method="get"></form>