@model CircularLogic.Models.BlogPost

@{
    ViewBag.Title = "BlogPostDetail";
}
<h2>Blog Post Details</h2>

<div class="row">
    <div class="col-md-12">
        <h2>@Model.Title</h2>
        <h3>@Model.UserID</h3>
        <h4>@Model.PostTime.GetValueOrDefault(DateTime.Now)</h4>
        <div class="postHeader"><img src="@Model.Image" alt="" /></div>

        <div class="postContent">
            @Html.Raw(Model.HtmlContent)
        </div>

        <div class="postTags">
            @foreach (string tag in Model.Tags.Select(r => r.Name))
            {
                <span>@tag </span>
            }
        </div>
        <h5>@Model.Category.Name</h5>
    </div>
</div>