@model CircularLogic.Models.BlogPost

@{
    ViewBag.Title = "BlogPostDetail";
}
<h2>Blog Post Details</h2>

<div class="row">
    <div class="col-md-12">
        <h3>@Model.Title</h3>
        <p>@Model.UserID</p>
        <p>@Model.PostTime.GetValueOrDefault(DateTime.Now)</p>
        <p>@Model.Image.ImageData</p>
        <p>@Html.Raw(Model.HtmlContent)</p>
        <p>Tags: @Model.Tags</p>
        <p>Categories: @Model.Category.CategoryID</p>
    </div>
</div>